html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: #E6AC00; /* gold */
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
    background-color: transparent;
}